Aluno: Luiz Felipe Folha Tavares<br>
Turma: MBED-2<br>
Atividade 2

**# Atividade 2 Python**

#### Valor: 50 pontos

In [1]:
import pandas as pd
import numpy as np

Fazer a importação do arquivo disponível em https://raw.githubusercontent.com/ironhack-datalabs/datalis0819/master/module-2/lab-tableau-data-visualization/data/countries-of-the-world.csv. A base de dados traz informações variadas de diversos países.

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/ironhack-datalabs/datalis0819/master/module-2/lab-tableau-data-visualization/data/countries-of-the-world.csv", decimal=',' )

In [3]:
df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN

1)Determinar a quantidade de países por região (Region).

In [22]:
# agrupa os dados por coluna 'regiao'
agrupado = df.groupby('Region')

# conta a quantidade de países por região
qtd_por_regiao = agrupado.size()
print(qtd_por_regiao)

Region
ASIA (EX. NEAR EAST)                   28
BALTICS                                 3
C.W. OF IND. STATES                    12
EASTERN EUROPE                         12
LATIN AMER. & CARIB                    45
NEAR EAST                              16
NORTHERN AFRICA                         6
NORTHERN AMERICA                        5
OCEANIA                                21
SUB-SAHARAN AFRICA                     51
WESTERN EUROPE                         28
dtype: int64

2) Apresentar a mediana da mortalidade infantil.

In [23]:
print(df['Infant mortality (per 1000 births)'].median())

21.0

3) Apresentar a mediana do percentual de área costeira.

In [24]:
print(df['Coastline (coast/area ratio)'].median())

0.73

4) Apresentar os percentis de 10 e 90% da taxa de mortalidade (Deathrate).

Dica: Percentis podem ser obtidos com o método df.["coluna"].quantile(q= valor desejado em decimal)

**Percentis**

Um percentil é uma medida na qual a porcentagem dos valores totais é a mesma ou abaixo desta média. Por exemplo, 90% dos valores de dados estão abaixo do 90o.percentil, onde 10% dos valores de dados estão abaixo do 10o. percentil.

**Quartis**

Quartis são valores que dividem uma (parte de uma) tabela de dados em quatro grupos contendo aproximadamente um igual número de observações. O total de 100% é dividido em quatro partes iguais: 25%, 50%, 75% 100%.

In [29]:
print(f"Percentil 10% = {df['Deathrate'].quantile(0.1)}\nPercentil 90% = {df['Deathrate'].quantile(0.9)}")

Percentil 10% = 4.626
Percentil 90% = 15.992000000000006

5) Apresentar os 5 países com maior Gross domestic product per capta (GDP per capta) (Lembrando que o GDP per capta é o nosso PIB - Produto Interno Bruto)

In [37]:
topFive = df[['Country','GDP ($ per capita)']]
topFive =topFive.sort_values(by='GDP ($ per capita)', ascending =  False)
topFive.head(5).reset_index()

   index          Country  GDP ($ per capita)
0    121      Luxembourg              55100.0
1    154          Norway              37800.0
2    214   United States              37800.0
3     22         Bermuda              36000.0
4     38  Cayman Islands              35000.0

6) Retornar a linha (row) do país com a maior "Área" (retorne o registro inteiro da linha do País com a maior extensão territorial)

In [49]:
indexArea = df["Area (sq. mi.)"].idxmax()
linhaMaiorArea = df.query('index == @indexArea')
linhaMaiorArea

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
169,Russia,C.W. OF IND. STATES,142893540,17075200,8.4,0.22,1.02,15.39,8900.0,99.6,280.6,7.33,0.11,92.56,NaN,9.95,14.65,0.054,0.371,0.575

7) Retornar a linha (row) do país que possui mais telefones instalados ("Phones (per 1000)")

In [50]:
indexTel = df["Phones (per 1000)"].idxmax()
linhaTel = df.query('index == @indexTel')
linhaTel

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
138,Monaco,WESTERN EUROPE,32543,2,16271.5,205.0,7.75,5.43,27000.0,99.0,1035.6,0.0,0.0,100.0,NaN,9.19,12.91,0.17,NaN,NaN

8) Retornar os 5 países mais alfabetizados ("Literacy")

dica: pesquise o método df.largest()

In [53]:
topFiveLiteracy = df.nlargest(5, "Literacy (%)").reset_index()
topFiveLiteracy

,index,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),...,Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,...,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
1,11,Australia,OCEANIA,20264082,7686850,2.6,0.34,3.98,4.69,29000.0,...,565.5,6.55,0.04,93.41,1.0,12.14,7.51,0.038,0.262,0.700
2,54,Denmark,WESTERN EUROPE,5450661,43094,126.5,16.97,2.48,4.56,31100.0,...,614.6,54.02,0.19,45.79,3.0,11.13,10.36,0.018,0.246,0.735
3,68,Finland,WESTERN EUROPE,5231372,338145,15.5,0.37,0.95,3.57,27400.0,...,405.3,7.19,0.03,92.78,3.0,10.45,9.86,0.028,0.295,0.676
4,119,Liechtenstein,WESTERN EUROPE,33987,160,212.4,0.00,4.85,4.70,25000.0,...,585.5,25.00,0.00,75.00,4.0,10.21,7.18,0.060,0.390,0.550

9) Retornar os 10 países menos industrializados.

dica: pesquise o método df.**nsmallest**

In [55]:
smallTen = df.nsmallest(5, "Industry").reset_index()
smallTen

,index,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),...,Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,104,Jersey,WESTERN EUROPE,91084,116,785.2,60.34,2.76,5.24,24800.0,...,811.3,0.00,0.00,100.00,3.0,9.30,9.28,0.050,0.020,0.930
1,38,Cayman Islands,LATIN AMER. & CARIB,45436,262,173.4,61.07,18.75,8.19,35000.0,...,836.3,3.85,0.00,96.15,2.0,12.74,4.89,0.014,0.032,0.954
2,44,Comoros,SUB-SAHARAN AFRICA,690948,2170,318.4,15.67,0.00,74.93,700.0,...,24.5,35.87,23.32,40.81,2.0,36.93,8.20,0.400,0.040,0.560
3,117,Liberia,SUB-SAHARAN AFRICA,3042004,111370,27.3,0.52,0.00,128.87,1000.0,...,2.3,3.95,2.28,93.77,2.0,44.77,23.10,0.769,0.054,0.177
4,28,British Virgin Is.,LATIN AMER. & CARIB,23098,153,151.0,52.29,10.01,18.05,16000.0,...,506.5,20.00,6.67,73.33,2.0,14.89,4.42,0.018,0.062,0.920

10) Imputar o valor 0 nos campos faltantes (missings) para as colunas: Agriculture, Industry e Service

In [56]:
dfFill = df.fillna(0)
dfFill

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,0.000,0.000,0.000
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,0.0,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,0.00,0.00,0.0,0.0,0.0,0.02,0.00,99.98,1.0,0.00,0.00,0.000,0.000,0.400
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579